*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/marktplaats/nbproject/private/
/marktplaats/marktplaats-war/nbproject/private/
/marktplaats/marktplaats-ejb/nbproject/private/
/marktplaats/marktplaats-ejb/build/
/marktplaats/marktplaats-ejb/dist/
/marktplaats/dist/gfdeploy/marktplaats/marktplaats-ejb_jar/nl/rkk/marktplaats/models/
/marktplaats/marktplaats-war/build/
/marktplaats/build/
/marktplaats/marktplaats-war/dist/