/* ==========================================================================
   Color palette
   ========================================================================== */

$color-turquoise: 		#1abc9c;
$color-greensea: 		#16a085;

$color-emerald-light: 	#2ecc71;
$color-emerald: 		#2ecc71;
$color-nephritis: 		#27ae60;
$color-nephritis-dark: 	#009e42;

$color-peterriver: 		#3498db;
$color-belizehole: 		#2980b9;

$color-amethyst: 		#9b59b6;
$color-wisteria: 		#8e44ad;

$color-wetasphalt: 		#34495e;
$color-midnightblue: 	#2c3e50;

$color-sunflower: 		#f1c40f;
$color-orange: 			#f39c12;
$color-carrot: 			#e67e22;
$color-pumpkin: 		#d35400;

$color-alizarin: 		#e74c3c;
$color-pomegranate: 	#c0392b;

$color-clouds: 			#ecf0f1;
$color-silver: 			#bdc3c7;
$color-concrete: 		#95a5a6;
$color-asbestos: 		#7f8c8d;

$color-orchid: 			#ab86ba;
$color-tangerine: 		#f05442;
$color-honeysuckle: 	#da4f70;
$color-iris: 			#595ca1;
$color-mimosa: 			#f0bf59;
$color-sand: 			#decdbf;
$color-chili: 			#9c1b31;
$color-sky: 			#7ac5c5;
$color-tigerlily: 		#e4583e;
$color-truered: 		#c02034;
$color-cerulean: 		#9bb7d6;
$color-fuchsia: 		#c94476;

$color-kind-other:		#a8a878;
$color-kind-physical:	#f05030;
$color-kind-special:	#4f5870;

$color-ok: 				#66CC99;
$color-ok-hover: 		#55cc0c;

$color-flash: 			#F4B350;
$color-flash-hover: 	#000;

$color-error: 			#E74C3C;
$color-error-hover: 	#c30e07;

/* ==========================================================================
   Default dimensions
   ========================================================================== */

$default-radius: 		0.5rem;
